---
import { basics } from '@cv'

const {name, label, image, email, phone, summary, location} = basics;
const { city, countryCode, region } = location;
---

<section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <h2>{phone}</h2>
            <h2>{summary}</h2>
            <span>
                /* aqui dice de poner un icono*/
               {city}, {countryCode}, {region} 
            </span>
            <footer>
                {
                    email && (
                        <a
                            href={`mailto:${email}`}
                            title={`Enviar un correo electronico a ${name} al correo ${email}`}
                            target="_blanck"
                            rel="noopener noreferrer"
                        >
                        </a>
                    )
                }
            </footer>
        </>
        <figure>
            <img src={image} alt={name}; />
        </figure>
    </div>
</section>

<style>
    .container{

    }
</style>