---
import { basics } from '@cv'

const {name, label, image, email, phone} = basics

---

<section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <h2>{image}</h2>
            <h2>{email}</h2>
            <h2>{phone}</h2>
            <span>
                // aqui dice de poner un icono
                
            </span>
        </div>
    </div>
</section>

<style>
    .container{

    }
</style>